#root {
  margin: 0 auto;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');

.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}


iframe {
  border: 1px solid;
  border-radius: 4px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.241),0px 10px 15px -3px rgba(0, 0, 0, 0.268);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
